In [1]:
# Load modules for data accessing and plotting
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import plotly.offline as py
py.init_notebook_mode(connected=True)
import plotly.graph_objs as go
import plotly.tools as tls
from collections import Counter

In [12]:
def Preprocessing(path, mode):
    # mode train or test
    # read and set index
    df = pd.read_csv('../data/' + mode + '.tsv', sep='\t')
    df.set_index(mode + '_id')
    
    # get missing values
    df.replace('No description yet', np.NaN, inplace=True)
    
    # deal with categorical variables, category_name and brand_name
    #df['category_name'] = df.category_name.astype(str)
    df['brand_name'] = df.brand_name.astype('category')
    
    return df

In [13]:
df_train = Preprocessing('../data/train.tsv', 'train')
df_train.head()

,train_id,name,item_condition_id,category_name,brand_name,price,shipping,item_description
0,0,MLB Cincinnati Reds T Shirt Size XL,3,Men/Tops/T-shirts,NaN,10.0,1,NaN
1,1,Razer BlackWidow Chroma Keyboard,3,Electronics/Computers & Tablets/Components & P...,Razer,52.0,0,This keyboard is in great condition and works ...
2,2,AVA-VIV Blouse,1,Women/Tops & Blouses/Blouse,Target,10.0,1,Adorable top with a hint of lace and a key hol...
3,3,Leather Horse Statues,1,Home/Home Décor/Home Décor Accents,NaN,35.0,1,New with tags. Leather horses. Retail for [rm]...
4,4,24K GOLD plated rose,1,Women/Jewelry/Necklaces,NaN,44.0,0,Complete with certificate of authenticity

In [14]:
df_train.dtypes

train_id                int64
name                   object
item_condition_id       int64
category_name          object
brand_name           category
price                 float64
shipping                int64
item_description       object
dtype: object